* {
    margin: 0;
    padding: 0
}

body {
    background: #f2f2f2;
    font-family: Calibri;
    background-image: url("sources/fondo.jpg");
    background-repeat: repeat;
}

header {
    width: 100%;
    overflow: hidden;
    background: #7ed3b2;
    line-height: 100px;
}

.wrapper {
    width: 101%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    height: 2793px;
    text-align: center;
}

h4 {
    color: #027f6a;
    font-size:22pt;
    background-color: white;
    border-radius:20px;
    margin-top:25px;
}


header .logo {
    float: left;
    margin-left: 50px;
}

header .navegador {
    float: right;
    margin-right:20px;
}

header a {
    margin-right: 10px;
    line-height: normal;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: #f2f2f2;
    font-family: Calibri;
    padding: 20px, 40px;
}

header nav a:hover {
    background: #ef6c57;
    border-radius: 50px;
    margin: 4px;
}

.cuadro{
    padding: 10px;
    width:30%;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    text-align: center;
}

.cuadro * {
    margin: 8px;
}

.wrapper input {
    padding-left: 6px;
}

input{
    height: 25px;
}

.log .child{
    text-align:right;
}

.logo{
    height:50px;
    margin-top: 30px;
}

.carita{
    height: 25PX;
    margin: 4px;
}


.props #prop{
    margin-left:auto;
    margin-right:auto;
    width: 70%;
    max-height: 300px;
    margin-top:30px;
}

#tarjeta * {
    height:100px;
    margin: 20px; 
}
.props {
    width: 60%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
    text-align:center;
}

.props > div {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 25px;
    color:#027f6a;
}

div > p{
    text-align:justify;
    margin-top:7px;
}

#ib1 {
    height:600px;
    
}

.columns {
    background-color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.field {
    text-align:left;
    margin-left:30px;
}

.agregar{
    margin:20px;
}

#btAgregar{
    margin-top:30px;
    margin-bottom: 30px;
}

.props * {
    margin: 20px;
}

.gatos{
    border-radius: 30px;
}

