* {
    margin: 0;
    padding: 0
}

body {
    background: #f2f2f2;
    font-family: Calibri;
}

header {
    width: 100%;
    overflow: hidden;
    background: #7ed3b2;
    margin: 20px;
    line-height: 100px;
}

.wrapper {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}


header .logo {
    float: left;
    margin-left: 50px;
}

header .navegador {
    margin-right: 40px;
    float: right;
}

header a {
    margin-right: 10px;
    line-height: normal;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: #f2f2f2;
    font-family: Calibri;
    padding: 20px, 40px;
}

header nav a:hover {
    background: #ef6c57;
    border-radius: 50px;
    margin: 4px;
}

.cuadro{
    padding: 10px;
    width:30%;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    text-align: center;
}

.cuadro * {
    margin: 8px;
}

.wrapper input {
    padding-left: 6px;
}

input{
    height: 25px;
}

.log .child{
    text-align:right;
}

.logo{
    height:50px;
    margin-top: 30px;
}

.carita{
    height: 25PX;
    margin: 4px;
}

.boton {
    background-color: #ef6c57;
    color: #ffffff;
}



